body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerContainer {
 display: flex;
 justify-content: space-between;
 padding-left: 25px;
 padding-right: 25px;
 height: 50px;
 align-items: center;
 background-color: navy;
}

.companyName {
  color: white;
  text-transform: uppercase;
  font: bold;
  font-size: 20px;
}


.tagSpacer {
  padding-right: 15px;
  color:white;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.subHeaderSellContainer{
  height:50px;
  display:flex;
  align-items: center;
  border-bottom: 3px solid lightgrey;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 150px;
}

.cell {
  height: 50px;
  display: flex;
  align-items: center;
  border-left: 1px solid lightgrey;
  padding: 0px 25px
}

.cellBoth {
  height: 50px;
  display: flex;
  align-items: center;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 0px 25px;
}

.sellSpacer {
  color:black;
  text-decoration: none;
}

.backgroundBlue {
  background-color: rgba(137, 196, 244, .2)
}

.flex1{
  display: flex;
  flex:1;
}

.flex2{
  display: flex;
  flex: 2;
  background-color: rgba(137, 196, 244, .2);
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.rowNoPad {
  display: flex;
  flex-direction: row;
  height:-webkit-fill-available
}

.cardContainer {
  height:50px;
  border-bottom: 1px solid lightgrey;
  flex-grow:1;
  padding: 15px;
  text-decoration: none;
}

.grayDot {
  height: 8px;
  width: 8px;
  background-color: gray;
  border-radius: 50%;
}

.greenDot {
  height: 8px;
  width: 8px;
  background-color:mediumseagreen;
  border-radius: 50%;
}

.paddingLeft {
  padding-left: 8px;
  color: gray;
  font-size: 13px;
  font-weight: bold;
}

.paddingTop{
  padding-top:4px;
}

.paddingBottom{
  padding-bottom: 8px;
}

.rowNoFill {
  display: flex;
  flex-direction: row;
}

.paddingRightSmall{
 padding-left: 15px;
 font-size: 12px;
 font-weight: bold;
 text-decoration: none;
 color: black;
}

.smallGray {
  font-size: 10px;
  color: gray;
  padding-left:15px;
}

.biggerGrayDot{
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.centerDots{
  display: flex;
  flex-direction: column;
align-items: center;
  width:50px;
}

.paddingTop4G{
  padding-top:8px;
  font-size: 10px;
  color: mediumseagreen;
  font-weight:bold;
}
.paddingTop4Gray{
  padding-top:8px;
  font-size: 10px;
  color: gray;
  font-weight:bold;
}

.paddingRight20{
  padding-right: 20px
}

.spaceBetween {
  justify-content:space-between
}

.column{
  display: flex;
  flex-direction: column;
  height:50px;
  flex:1;
}

.center{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flexGrow1{
  display: flex;
  flex-grow:1;
  padding:25px
}

.graySmallFont{
  padding-top:4px;
 color: gray;
 font-size:10px;
 padding-bottom:15px;
}

.pill{
  background-color: mediumseagreen;
  border: none;
  color:white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 100px 100px ;
  grid-template-rows: 60px 60px 60px;
  background-color: #fff;
  color: #444;
  padding: 20px 20px
}

.box {
  border-bottom: 1px solid lightgrey;
  color:black;
  display: flex;
  justify-content: center;
  border-right: 1px solid lightgrey;
  align-items: center;
}

.boxNoRight{

    border-bottom: 1px solid lightgrey;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerThings{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom:5px;
  align-items: center;
}

.rows{
  display: flex;
  flex-direction: row;
  padding-top:5px;
}

.green{
  color: green;
  font-size: 12px;
  padding-right:2px;
}

.red{
    padding-left:2px;
    color:red;
    font-size: 12px

}
.smallText{
  font-size: 10px;
}

.smallTextBold{
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

.smallTextAlignSelf{
  font-size: 12px;
  padding-top: 5px
}

.height50{
  height:75px;
  flex-grow:2;
  align-items: center;
  padding: 0px 40px;
}

.flex2grow{
  display: flex;
  flex-grow: 2;
  border-bottom: 1px solid lightgrey;
  flex-direction: row;
}

.grayPaddingRight{
  color: gray;
  padding-right: 4px;
  font-size:12px
}

.asCenter{
  flex-grow: 1;
  text-align: center
}

.rowFlex{
  display: flex;
  flex-direction: row;
  justify-content:center
}

.height50border{
  height:75px;
  flex-grow:2;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex
}

.flex2Column{
 flex-direction: column;
 flex-grow: 2
}

.padding40s{
  padding:20px;
}

.paddingRight25{
  max-width: 80%;
  padding: 0px 10px;
  background-color: navy;
  color:white;
  margin-right:20px
}

.paddingLeft25{
  max-width: 80%;
  padding: 0px 10px;
  background-color: white;
  color:black;
  margin-left:20px

}


.rowNoFillFlexEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

.rowNoFillFlexStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.paddingTop20{
  padding-top: 20px
}
